.layout {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}

.content {
  width: 100%;
  height: calc(100vh - 100px);
  padding-right: 20px;
  padding-bottom: 20px;
  background: #f7f7fb;
}
