.navbar {
  height: 60px;
  background: #3b5ccf;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__logo-img {
  width: 30px;
  height: 30px;
  background: #f200ff;
  border-radius: 4px;
}

.navbar__logo p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}
