.navbar {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.navbar__logo {
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 240px;
}

.navbar__menu-icon {
  width: 40px;
  height: 40px;
  background: #f200ff;
  border-radius: 4px;
}

.navbar__logo p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

.navbar__user {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.navbar__user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f200ff;
}

.navbar__user-info {
  display: flex;
  flex-direction: column;
}

.navbar__user-info p:first-child {
  font-size: 14px;
  color: #505050;
  font-weight: bold;
}

.navbar__user-info p:last-child {
  font-size: 14px;
  color: #767676;
}

.navbar__alert {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.message,
.alarm {
  border: 1px solid #9a9a9a;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_icon,
.alarm_icon {
  width: 24px;
  height: 24px;
  background: #f200ff;
  border-radius: 50%;
}

.message_count {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e05d5d;
  font-size: 10px;
  text-align: center;
  color: #fff;
  right: -4px;
  top: -4px;
}

.alarm__update {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3b5ccf;
  right: 0px;
  top: 4px;
}

.navbar__input-box {
  position: relative;
}

input {
  width: 400px;
  height: 48px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #e5e5ec;
  padding: 1rem 4rem 1rem 1.5rem;
}

.input-suffix {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #f200ff;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.navbar__setting {
  margin-left: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #f200ff;
}
