.account-form {
  background: #fff;
  color: var(--text-color);
  border-radius: 20px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  .auth-switch {
    display: flex;
    height: 50px;
    background: var(--bg-dark-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      border-top-left-radius: 20px;
      color: var(--sub-text-color);
      font-size: 18px;

      &.selected {
        background: #fff;
        border-top-right-radius: 20px;
        color: var(--brand-color);
        font-weight: bold;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .input-container {
    padding: 2rem;

    .password-container {
      position: relative;

      .icon {
        color: var(--sub-text-color2);

        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 1rem;
        cursor: pointer;
      }
    }

    .error-msg {
      display: block;
      color: red;
    }

    .submit-btn {
      margin: 2rem 0 1rem 0;
      padding: 0;
      width: 100%;
      height: 56px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      background: #f1f1f5;
      color: #999999;
      border-radius: 8px;
      outline: none;
      border: none;
      cursor: pointer;

      &.active {
        color: white;
        background: var(--brand-color);
      }
    }

    .button-field {
      display: flex;
      align-items: center;
      gap: 1rem;

      button {
        padding: 0 0.5rem;
        width: 40%;
        border-radius: 100px;
        height: 44px;
        outline: none;
        border: none;
        background: var(--brand-color);
        color: white;
        font-size: 12px;
        cursor: pointer;
      }
    }

    // style of find page

    .title {
      display: block;
      white-space: pre-wrap;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .description {
      display: block;
      white-space: pre-wrap;
      text-align: center;
      font-size: 13px;
      margin-bottom: 4rem;
      line-height: 1.24rem;
    }
  }

  .find-account {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 14px;
    color: var(--sub-text-color2);

    .find-account-btn {
      padding-left: 1rem;
      color: var(--sub-text-color);
      font-weight: bold;

      cursor: pointer;
    }
  }

  .other-auth-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    font-size: 14px;
    font-weight: bold;

    .social-login-options {
      width: 100%;

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      font-weight: normal;
      font-size: 12px;

      .social-login-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 8px;

        .social-icon {
          width: 40px;
          height: 40px;
        }
      }
      .social-login-option:nth-child(1) .social-icon {
        border: 1px solid var(--divier-light-color);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../../../public/google.svg');
      }
      .social-login-option:nth-child(2) .social-icon {
        background-image: url('../../../public/kakao.svg');
      }
      .social-login-option:nth-child(3) .social-icon {
        background-image: url('../../../public/naver.svg');
      }
    }
  }
}
